fastapi
uvicorn
streamlit

pymupdf
pypdf
python-docx
pytesseract
Pillow

langchain
langchain-community

sentence-transformers
faiss-cpu
qdrant-client

pydantic

transformers
torch

rank-bm25

ragas
deepeval

python-dotenv

tqdm

pandas
numpy

scikit-learn